<h1>List of Vehicles</h1>

<p>
    <button class="btn btn-primary" [routerLink]="['/vehicles/new']">
        Add New Vehicle
    </button>
</p>

<div class="well">
    <div class="form-group">
        <label for="make">Make</label>
        <select name="make" id="make" class="form-control" [(ngModel)]="vehicleQuery.makeId" (change)="onFilterChange()">
            <option value=""></option>
            <option *ngFor="let make of makes" [attr.value]="make.id">{{ make.name }}</option>
        </select>
    </div>
    <button class="btn btn-default" (click)="onReset()">Reset</button>
</div>


<table class="table" *ngIf="!!vehicles && vehicles.length > 0; else noVehicles">
    <thead>
    <tr>
        <th *ngFor="let column of columns" scope="col" (click)="column.isSortable ? sortBy(column.key) : $event.preventDefault()">
            {{ column.title }}
            <i *ngIf="column.isSortable && vehicleQuery.sortBy === column.key"
               class="fa"
               [class.fa-sort-asc]="vehicleQuery.isSortAscending"
               [class.fa-sort-desc]="!vehicleQuery.isSortAscending"></i>
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let vehicle of vehicles">
        <th scope="row">{{ vehicle.id }}</th>
        <td>{{ vehicle.make.name }}</td>
        <td>{{ vehicle.model.name }}</td>
        <td>{{ vehicle.contact.name }}</td>
        <td><a [routerLink]="['/vehicles', vehicle.id]" class="btn btn-outline">View</a></td>
    </tr>
    </tbody>
</table>

<ng-template #noVehicles style="margin-top: 50px;">
    No Vehicles added yet
</ng-template>